<!doctype html >
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>公司员工添加</title>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Admin Dashboard Template" />
        <meta name="keywords" content="admin,dashboard" />
        <meta name="author" content="Lalassu" />
        
        <!-- Styles -->
        <link href="assets/plugins/pace-master/themes/blue/pace-theme-flash.css" th:href="@{/admin/assets/plugins/pace-master/themes/blue/pace-theme-flash.css}" rel="stylesheet"/>
        <link href="assets/plugins/uniform/css/default.css" rel="stylesheet" th:href="@{/admin/assets/plugins/uniform/css/default.css}"/>
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" th:href="@{/admin/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/plugins/fontawesome/css/font-awesome.css}"/>
        <link href="assets/plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/plugins/line-icons/simple-line-icons.css}"/>
        <link href="assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" th:href="@{/admin/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css}" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/waves/waves.min.css" th:href="@{/admin/assets/plugins/waves/waves.min.css}" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/plugins/switchery/switchery.min.css}"/>
        <link href="assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/plugins/3d-bold-navigation/css/style.css}"/>

        <link href="assets/plugins/slidepushmenus/css/component.css" th:href="@{/admin/assets/plugins/slidepushmenus/css/component.css}" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/summernote-master/summernote.css" th:href="@{assets/plugins/summernote-master/summernote.css}" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css"/>
        <link href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css"/>
        <!-- Theme Styles -->
        <link href="assets/css/layers.min.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/layers.min.css}"/>
        <link href="assets/css/layers/dark-layer.css" th:href="@{/admin/assets/css/layers/dark-layer.css}" class="theme-color" rel="stylesheet" type="text/css"/>
        <link href="assets/css/custom.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/custom.css}"/>

        <script src="assets/plugins/3d-bold-navigation/js/modernizr.js" th:href="@{/admin/assets/plugins/3d-bold-navigation/js/modernizr.js}"></script>
        <script src="assets/plugins/offcanvasmenueffects/js/snap.svg-min.js" th:href="@{/admin/assets/plugins/offcanvasmenueffects/js/snap.svg-min.js}"></script>


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        
    </head>
    <body class="compact-menu">
        <div class="overlay"></div>
       <!-- <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
            <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="icon-close"></i></a></h3>
            <div class="slimscroll">
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar2.png" alt=""><span>Michael Lewis<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar3.png" alt=""><span>John Doe<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar4.png" alt=""><span>Emma Green<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar5.png" alt=""><span>Nick Doe<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar2.png" alt=""><span>Michael Lewis<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar3.png" alt=""><span>John Doe<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar4.png" alt=""><span>Emma Green<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar5.png" alt=""><span>Nick Doe<small>Nice to meet you</small></span></a>
            </div>
		</nav>-->
        <!--<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <h3><span class="pull-left">Michael Lewis</span> <a href="javascript:void(0);" class="pull-right" id="closeRight2"><i class="fa fa-angle-right"></i></a></h3>
            <div class="slimscroll chat">
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Duis aute irure dolor?
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Lorem ipsum dolor sit amet, dapibus quis, laoreet et.
                    </div>
                </div>
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Ut ullamcorper, ligula.
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        In hac habitasse platea dict umst. ligula eu tempor eu id tincidunt.
                    </div>
                </div>
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Curabitur pretium?
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Etiam tempor. Ut tempor! ull amcorper.
                    </div>
                </div>
            </div>
            <div class="chat-write">
                <form class="form-horizontal" action="javascript:void(0);">
                    <input type="text" class="form-control" placeholder="Say something">
                </form>
            </div>
		</nav>-->
        <form class="search-form" action="#" method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                <span class="input-group-btn">
                    <button class="btn btn-default close-search" type="button"><i class="icon-close"></i></button>
                </span>
            </div><!-- Input Group -->
        </form><!-- Search Form -->
        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <div class="logo-box" style="width: 200px;">
                        <a href="index.html" class="logo-text"><span>网上银行后台管理系统</span></a>
                    </div><!-- Logo Box -->
                    <div class="search-button">
                        <a href="javascript:void(0);" class="show-search"><i class="icon-magnifier"></i></a>
                    </div>
                    <div class="topmenu-outer">
                        
                    </div>
                </div>
            </div><!-- Navbar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <ul class="menu accordion-menu">
                        <li><a href="${pageContext.request.contextPath}/index" class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>主页</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/bankcard/cardCheckShow" class="waves-effect waves-button"><span class="menu-icon icon-credit-card"></span><p>银行卡审核</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/companyfindAll" class="waves-effect waves-button"><span class="menu-icon icon-link"></span><p>公司申请审核</p></a></li>
                        <li class="active"><a href="${pageContext.request.contextPath}/admin/showrole" class="waves-effect waves-button"><span class="menu-icon icon-user-follow"></span><p>公司员工添加</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/tosave" class="waves-effect waves-button"><span class="menu-icon icon-list"></span><p>基金产品添加</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/findbymangerid" class="waves-effect waves-button"><span class="menu-icon icon-notebook"></span><p>产品信息管理</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/worklist/showWorklistList" class="waves-effect waves-button"><span class="menu-icon icon-earphones-alt"></span><p>客户服务单管理</p></a></li>
                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
            <div class="page-inner">
                <div class="page-title">
                    <h3 class="breadcrumb-header">公司账号分配</h3>
                    <div class="page-breadcrumb">
                        <ol class="breadcrumb breadcrumb-with-header">
                            <li class="active">请填写公司账号信息</li>
                        </ol>
                    </div>
                </div>
                <div id="main-wrapper">
                    <div class="row">
                        
                        <div class="col-md-8  col-md-offset-2">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title">账号信息</h4>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal m-t-xs" action="${pageContext.request.contextPath }/admin/adminsave" method="POST">
                                         <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">用户名：</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="adminName" class="password form-control" id="inputPassword3" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">密码：</label>
                                            <div class="col-sm-10">
                                                <input type="password" name="adminPassword" class="password form-control" id="password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">再次输入：</label>
                                            <div class="col-sm-10">
                                                <input type="password"  class="password form-control" onblur="checkPass()" id="password1" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">真实姓名：</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="adminRelname" class="password form-control" id="inputPassword3">
                                            </div>
                                        </div>
                                        <div class="form-group">

	                                        <label for="inputPassword3" class="col-sm-2 control-label">选择角色：</label>
		                                    <div class="col-sm-10">
			                                    <select tabindex="-1" name="adminRole">
			                                        <c:forEach items="${requestScope.roleList}" var="role">
			                                            <option value="${role.roleId }">${role.roleString}</option>
			                                           </c:forEach>
			                                    </select>
		                                    </div>
		                                   
                                        </div>
                                        <div class="form-group">
                                            <div style="text-align: center;">
                                                <button type="submit" id="sub" class="btn btn-success m-t-xxs">确定添加</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row -->
                </div><!-- Main Wrapper -->
                <div class="page-footer">
                    <p class="no-s">Made with <i class="fa fa-heart"></i> by lizards</p>
                </div>
            </div><!-- Page Inner -->
        </main><!-- Page Content -->
        <nav class="cd-nav-container" id="cd-nav">
            <header>
                <h3>LAYERS</h3>
            </header>
            <div class="col-md-6 demo-block demo-selected demo-active">
                <p>Dark<br>Design</p>
            </div>
            <div class="col-md-6 demo-block">
                <a href="../admin2/index.html"><p>Light<br>Design</p></a>
            </div>
            <div class="col-md-6 demo-block demo-coming-soon">
                <p>Horizontal<br>(Coming)</p>
            </div>
            <div class="col-md-6 demo-block demo-coming-soon">
                <p>Material<br>(Coming)</p>
            </div>
            <div class="col-md-6 demo-block demo-coming-soon">
                <p>Coming<br>Soon</p>
            </div>
            <div class="col-md-6 demo-block demo-coming-soon">
                <p>Coming<br>Soon</p>
            </div>
        </nav>
        <div class="cd-overlay"></div>
	
        <!-- Javascripts -->
        <script src="assets/plugins/jquery/jquery-3.1.0.min.js"></script>
        <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="assets/plugins/pace-master/pace.min.js"></script>
        <script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/switchery/switchery.min.js"></script>
        <script src="assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
        <script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
        <script src="assets/plugins/waves/waves.min.js"></script>
        <script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
        <script src="assets/plugins/summernote-master/summernote.min.js"></script>
        <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
        <script src="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <script src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
        <script src="assets/js/layers.min.js"></script>
        <script src="assets/js/pages/form-elements.js"></script>
     <script type="text/javascript">
     
     function checkPass(){
    	    if(document.getElementById("password").value!=document.getElementById("password1").value){
    	        alert("两次密码输入不一致！");
    	        return false;
    	}}
     </script>
    </body>
</html>