<!doctype html >
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>维护基金产品</title>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta charset="UTF-8">
<meta name="description" content="Admin Dashboard Template" />
<meta name="keywords" content="admin,dashboard" />
<meta name="author" content="Lalassu" />

<!-- Styles -->
<link href="assets/plugins/pace-master/themes/blue/pace-theme-flash.css" th:href="@{/admin/assets/plugins/pace-master/themes/blue/pace-theme-flash.css}"
	rel="stylesheet" />
<link href="assets/plugins/uniform/css/default.css" rel="stylesheet" th:href="@{/admin/assets/plugins/uniform/css/default.css}"/>
<link href="assets/plugins/bootstrap/css/bootstrap.min.css" th:href="@{/admin/assets/plugins/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css" />
<link href="assets/plugins/fontawesome/css/font-awesome.css" th:href="@{/admin/assets/plugins/fontawesome/css/font-awesome.css}"
	rel="stylesheet" type="text/css" />
<link href="assets/plugins/line-icons/simple-line-icons.css" th:href="@{/admin/assets/plugins/line-icons/simple-line-icons.css}"
	rel="stylesheet" type="text/css" />
<link href="assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css" th:href="@{/admin/assets/plugins/offcanvasmenueffects/css/menu_cornerbox.css}"
	rel="stylesheet" type="text/css" />
<link href="assets/plugins/waves/waves.min.css" rel="stylesheet" th:href="@{/admin/assets/plugins/waves/waves.min.css}"
	type="text/css" />
	<link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/plugins/switchery/switchery.min.css}"/>
	<link href="assets/plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/plugins/3d-bold-navigation/css/style.css}"/>

	<link href="assets/plugins/slidepushmenus/css/component.css"
	rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap-datepicker/css/datepicker3.css"
	rel="stylesheet" type="text/css" />
<!-- Theme Styles -->
	<link href="assets/css/layers.min.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/layers.min.css}"/>
	<link href="assets/css/layers/dark-layer.css" th:href="@{/admin/assets/css/layers/dark-layer.css}" class="theme-color" rel="stylesheet" type="text/css"/>
	<link href="assets/css/custom.css" rel="stylesheet" type="text/css" th:href="@{/admin/assets/css/custom.css}"/>

	<script src="assets/plugins/3d-bold-navigation/js/modernizr.js" th:href="@{/admin/assets/plugins/3d-bold-navigation/js/modernizr.js}"></script>
	<script src="assets/plugins/offcanvasmenueffects/js/snap.svg-min.js" th:href="@{/admin/assets/plugins/offcanvasmenueffects/js/snap.svg-min.js}"></script>


	<link
	href="assets/plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css"
	rel="stylesheet" type="text/css">
<link
	href="assets/plugins/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css"
	rel="stylesheet" type="text/css">
<link href="assets/plugins/x-editable/inputs-ext/address/address.css"
	rel="stylesheet" type="text/css">
<link href="assets/plugins/select2-3.4.8/select2.css" rel="stylesheet"
	type="text/css">
<link
	href="assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css"
	rel="stylesheet" type="text/css">
<!-- Styles -->
<link href="assets/plugins/summernote-master/summernote.css" th:href="@{assets/plugins/summernote-master/summernote.css}"
	rel="stylesheet" type="text/css" />
<link
	href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css"
	rel="stylesheet" type="text/css" />
<link href="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css"
	rel="stylesheet" type="text/css" />
<link
	href="assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css"
	rel="stylesheet" type="text/css" />
</head>
<body class="compact-menu">
        <div class="overlay"></div>
       <!-- <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
            <h3><span class="pull-left">Chat</span><a href="javascript:void(0);" class="pull-right" id="closeRight"><i class="icon-close"></i></a></h3>
            <div class="slimscroll">
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar2.png" alt=""><span>Michael Lewis<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar3.png" alt=""><span>John Doe<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar4.png" alt=""><span>Emma Green<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar5.png" alt=""><span>Nick Doe<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar2.png" alt=""><span>Michael Lewis<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar3.png" alt=""><span>John Doe<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar4.png" alt=""><span>Emma Green<small>Nice to meet you</small></span></a>
                <a href="javascript:void(0);" class="showRight2"><img src="assets/images/avatar5.png" alt=""><span>Nick Doe<small>Nice to meet you</small></span></a>
            </div>
		</nav>
        <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
            <h3><span class="pull-left">Michael Lewis</span> <a href="javascript:void(0);" class="pull-right" id="closeRight2"><i class="fa fa-angle-right"></i></a></h3>
            <div class="slimscroll chat">
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Duis aute irure dolor?
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Lorem ipsum dolor sit amet, dapibus quis, laoreet et.
                    </div>
                </div>
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Ut ullamcorper, ligula.
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        In hac habitasse platea dict umst. ligula eu tempor eu id tincidunt.
                    </div>
                </div>
                <div class="chat-item chat-item-left">
                    <div class="chat-image">
                        <img src="assets/images/avatar2.png" alt="">
                    </div>
                    <div class="chat-message">
                        Curabitur pretium?
                    </div>
                </div>
                <div class="chat-item chat-item-right">
                    <div class="chat-message">
                        Etiam tempor. Ut tempor! ull amcorper.
                    </div>
                </div>
            </div>
            <div class="chat-write">
                <form class="form-horizontal" action="javascript:void(0);">
                    <input type="text" class="form-control" placeholder="Say something">
                </form>
            </div>
		</nav>-->
        <form class="search-form" action="#" method="GET">
            <div class="input-group">
                <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                <span class="input-group-btn">
                    <button class="btn btn-default close-search" type="button"><i class="icon-close"></i></button>
                </span>
            </div><!-- Input Group -->
        </form><!-- Search Form -->
        <main class="page-content content-wrap">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="sidebar-pusher">
                        <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
                            <i class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <div class="logo-box" style="width: 200px;">
                        <a href="index.html" class="logo-text"><span>网上银行后台管理系统</span></a>
                    </div><!-- Logo Box -->
                    <div class="search-button">
                        <a href="javascript:void(0);" class="show-search"><i class="icon-magnifier"></i></a>
                    </div>
                    <div class="topmenu-outer">
                        
                    </div>
                </div>
            </div><!-- Navbar -->
            <div class="page-sidebar sidebar">
                <div class="page-sidebar-inner slimscroll">
                    <ul class="menu accordion-menu">
                        <li><a href="${pageContext.request.contextPath}/index" class="waves-effect waves-button"><span class="menu-icon icon-home"></span><p>主页</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/bankcard/cardCheckShow" class="waves-effect waves-button"><span class="menu-icon icon-credit-card"></span><p>银行卡审核</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/companyfindAll" class="waves-effect waves-button"><span class="menu-icon icon-link"></span><p>公司申请审核</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/showrole" class="waves-effect waves-button"><span class="menu-icon icon-user-follow"></span><p>公司员工添加</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/tosave" class="waves-effect waves-button"><span class="menu-icon icon-list"></span><p>基金产品添加</p></a></li>
                        <li class="active"><a href="${pageContext.request.contextPath}/admin/findbymangerid" class="waves-effect waves-button"><span class="menu-icon icon-notebook"></span><p>产品信息管理</p></a></li>
                        <li><a href="${pageContext.request.contextPath}/admin/worklist/showWorklistList" class="waves-effect waves-button"><span class="menu-icon icon-earphones-alt"></span><p>客户服务单管理</p></a></li>
                    </ul>
                </div><!-- Page Sidebar Inner -->
            </div><!-- Page Sidebar -->
	<!-- Page Sidebar -->
	<div class="page-inner" >
		<div class="page-title">
			<h3 class="breadcrumb-header">修改基金产品</h3>
			<div class="page-breadcrumb">
				<ol class="breadcrumb breadcrumb-with-header">
					<li><a href="index.html">Home</a></li>
					<!-- <li><a href="#">Forms</a></li> -->
					<li class="active">修改基金产品</li>
				</ol>
			</div>
		</div>
		<div id="main-wrapper">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-white">
						<div class="panel-body">
							<div id="rootwizard">
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#tab1"
										data-toggle="tab"><i class="fa fa-user m-r-xs icon-wallet"></i>基金产品信息</a></li>
								</ul>
								<div class="progress progress-sm m-t-sm">
									<div class="progress-bar progress-bar-info" role="progressbar"
										aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
										style="width: 0%"></div>
								</div>
<form id="savefundForm" name="savefundForm" method="post" th:action="@{/admin/update(fundId = ${fund.fundId})}" th:method="POST">

<div class="tab-content">
	<div class="tab-pane active fade in" id="tab1">
		<div class="row m-b-lg">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group col-md-3">
							<label for="fundName">基金名称</label>
							<input type="text" class="form-control  col-md-3" name="fundName"  th:name="fundName"
								   id="fundName" placeholder="基金名称" th:value="${fund.fundName}">
						</div>



						<div class="form-group  col-md-3">
							<label for="fundNum">产品代码</label>
							<input type="text" class="form-control col-md-3" name="fundNum" th:name="fundNum"
								id="fundNum" placeholder="产品代码" th:value="${fund.fundNum}">
						</div>

						<div class="form-group  col-md-3">
							<label for="fundProductstate">基金产品类型</label>
							<select class="form-group col-md-3" style="width: 235px; height: 35px; border-color: rgb(220, 225, 228); border-radius: 3px"
									name="fundProductstate" th:name="fundProductstate" id="fundProductstate">
								<option th:each="productstate:${produList}" th:value="${productstate.stateId}"
									    th:selected="${productstate.stateId eq fund.fundProductstate}"
										th:text="${productstate.stateName}" ></option>
							</select>

						</div>

						<div class="form-group  col-md-3">
							<label for="fundInveststate">基金投资类型</label>
							<select class="form-group col-md-3" style="width: 235px; height: 35px; border-color: rgb(220, 225, 228); border-radius: 3px" th:name="fundInveststate" id="fundInveststate">
								<option th:each="inves:${invesList}" th:value="${inves.stateId}"
										th:selected="${inves.stateId eq fund.fundInveststate}"
										th:text="${inves.stateName}" ></option>
							</select>
						</div>
					</div>
					<div class="col-md-12">


						<div class="form-group  col-md-3">
							<label for="fundMinbuymoney">最低申购</label>

							<input type="text" class="form-control col-md-3" name="fundNum" th:name="fundMinbuymoney"
								   id="fundMinbuymoney" placeholder="最低申购" th:value="${fund.fundMinbuymoney}">

						</div>
						<div class="form-group  col-md-3">
							<label for="fundBuyratio">申购费率</label>
							<input type="text" class="form-control col-md-3" th:name="fundBuyratio" id="fundBuyratio"
								placeholder="申购费率" th:value="${fund.fundBuyratio}">
						</div>
						<div class="form-group  col-md-3">
							<label for="fundMinsalemoney">最低赎回份额</label>
							<input type="text" class="form-control col-md-3" name="fundMinsalemoney"
								   id="fundMinsalemoney" th:name="fundMinsalemoney" th:value="${fund.fundMinsalemoney}" placeholder="最低赎回份额">
						</div>
						<div class="form-group  col-md-3">
							<label for="fundSaleratio">赎回费率</label>
							<input type="text" class="form-control col-md-3" name="fundSaleratio"
								   id="fundSaleratio" th:name="fundSaleratio" th:value="${fund.fundSaleratio}" placeholder="赎回费率">
						</div>
					</div>
					<div class="col-md-12">



						<div class="form-group  col-md-3">
							<label for="fundSalebegintime">预售起始时间</label>
							<input type = "date"  class="form-control col-md-3"
								   name="fundSalebegintime" th:name="fundSalebegintime"
								   th:value="${#dates.format(fund.fundSalebegintime, 'yyyy-MM-dd')}"
								   id="fundSalebegintime" placeholder="预售起始时间">

						</div>

						<div class="form-group  col-md-3">
							<label for="fundWorkbegintime">结束时间</label>
							<input type = "date"  class="form-control col-md-3"  name="fundWorkbegintime"
								   th:name="fundWorkbegintime"
								   th:value="${#dates.format(fund.fundWorkbegintime, 'yyyy-MM-dd')}"
								   id="fundWorkbegintime" placeholder="结束时间">
						</div>

					</div>
					<div class="col-md-12">
					</div>

					<div class="form-group col-md-12">
						<label for="fundText">基金介绍</label>
						<div>
							<textarea placeholder="基金介绍" class="note-codable col-md-12 form-control"
						   th:name="fundText"  th:value="${fund.fundText}" th:text="${fund.fundText}"  name="fundText" id="fundText" ></textarea>
						</div>
					</div>
		<ul class="pager ">
			<li class="previous"><a
				href="javascript:document.savefundForm.submit();"
				class="btn btn-dufault">修改基金</a></li>
		</ul>
	</div>
</div>
</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row -->
		</div>
		<!-- Main Wrapper -->
		<div class="page-footer">
			<p class="no-s">
				Made with <i class="fa fa-heart"></i> by lizards
			</p>
		</div>
	</div>
	<!-- Page Inner -->
	</main>
	<!-- Page Content -->
	<nav class="cd-nav-container" id="cd-nav"> <header>
	<h3>LAYERS</h3>
	</header>
	<div class="col-md-6 demo-block demo-selected demo-active">
		<p>
			Dark<br>Design
		</p>
	</div>
	<div class="col-md-6 demo-block">
		<a href="../admin2/index.html"><p>
				Light<br>Design
			</p></a>
	</div>
	<div class="col-md-6 demo-block demo-coming-soon">
		<p>
			Horizontal<br>(Coming)
		</p>
	</div>
	<div class="col-md-6 demo-block demo-coming-soon">
		<p>
			Material<br>(Coming)
		</p>
	</div>
	<div class="col-md-6 demo-block demo-coming-soon">
		<p>
			Coming<br>Soon
		</p>
	</div>
	<div class="col-md-6 demo-block demo-coming-soon">
		<p>
			Coming<br>Soon
		</p>
	</div>
	</nav>
	<div class="cd-overlay"></div>

	<!-- Javascripts -->
	<script src="assets/plugins/jquery/jquery-3.1.0.min.js"></script>
	<script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="assets/plugins/pace-master/pace.min.js"></script>
	<script src="assets/plugins/jquery-blockui/jquery.blockui.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/plugins/switchery/switchery.min.js"></script>
	<script src="assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
	<script src="assets/plugins/offcanvasmenueffects/js/classie.js"></script>
	<script src="assets/plugins/waves/waves.min.js"></script>
	<script src="assets/plugins/3d-bold-navigation/js/main.js"></script>
	<script
		src="assets/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
	<script src="assets/plugins/jquery-validation/jquery.validate.min.js"></script>
	<script
		src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="assets/js/layers.min.js"></script>
	<script src="assets/js/pages/form-savefund.js"></script>

	<!-- Javascripts -->
	<script src="assets/plugins/jquery-mockjax-master/jquery.mockjax.js"></script>
	<script src="assets/plugins/moment/moment.js"></script>
	<script
		src="assets/plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
	<script
		src="assets/plugins/x-editable/inputs-ext/typeaheadjs/lib/typeahead.js"></script>
	<script
		src="assets/plugins/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
	<script src="assets/plugins/x-editable/inputs-ext/address/address.js"></script>
	<script src="assets/plugins/select2-3.4.8/select2.min.js"></script>
	<script
		src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="assets/js/layers.min.js"></script>
	<script src="assets/js/pages/form-x-editable.js"></script>
	<!-- Javascripts -->
	<script src="assets/plugins/summernote-master/summernote.min.js"></script>
	<script
		src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script
		src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
	<script
		src="assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script
		src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="assets/js/layers.min.js"></script>
	<script src="assets/js/pages/form-elements.js"></script>

</body>
</html>