<!doctype html >
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="Keywords" content="基金，优选基金，农银汇理基金，新发基金，基金池，主题基金，基金申购，基金认购，基金定投，基金净值">
    <meta name="Description"
          content="农行基金频道为用户24小时提供全面及时的基金资讯信息，涵盖市场要闻、专家视点、基金净值、基金涨幅、基金走势、基金排名、基金数据、基金评级等信息，提供了按基金类型、基金回报、基金公司的产品筛选功能，并且有专业的线上理财师实时为用户提供咨询服务。">
    <meta name="WT.cg_abc" content="理财e站;基金;基金公司">
    <title>基金公司_理财e站_中国农业银行</title>
    <link href="base.css" rel="stylesheet" th:href="@{/user/companymsg/base.css}">
    <link href="jqui.css" rel="stylesheet" th:href="@{/user/companymsg/jqui.css}">
    <link href="styles.css" rel="stylesheet" th:href="@{/user/companymsg/styles.css}">
    <link href="irezNew.css" rel="stylesheet" th:href="@{/user/companymsg/irezNew.css}">

    <!--<link rel="stylesheet" href="normalize.css" th:href="@{/user/userlogin/normalize.css}">-->
    <!--<link rel="stylesheet" href="main.css" th:href="@{/user/userlogin/main.css}">-->
    <!--<link rel="stylesheet" href="fund.css" th:href="@{/user/findList/fund.css}">-->
    <!--<link rel="stylesheet" href="jquery.selectric.css" th:href="@{/user/findList/jquery.selectric.css}">-->
    <!--<script type="text/javascript" src="writeObjectNew.js" th:src="@{/user/userlogin/writeObjectNew.js}">-->
    <!--</script>-->
    <script src="jquery-1.12.0.min.js" th:src="@{/user/findList/jquery-1.12.0.min.js}"> </script>


    <script src="about:blank"></script>
    <script src="about:blank" type="text/javascript" charset="utf-8"></script>
    <script src="about:blank" type="text/javascript" charset="utf-8"></script>
    <script src="about:blank" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    </script>
</head>
<body>

<div class="wrapper">
    <div class="innerBanner detailTitle"><span th:text="${fund.fundName} +' - '+ ${fund.fundNum}">基金产品名称</span></div>


    <div class="con962">
        <div class="companyTop">

            <UL class="innerTag fundJzxx" style="height: 35px; width:850px; background-color: rgb(234, 240, 241);">
                <LI style="line-height:30px; width:212.5px;" align="center" ><p th:text="投资类型" align="center"></p></LI>
                <LI style="line-height:30px; width:212.5px;" align="center"><p th:text="当前净值" align="center"></p></LI>
                <LI style="line-height:30px; width:212.5px;" align="center"><p th:text="基金经理" align="center"></p></LI>
                <LI style="line-height:30px; width:212.5px;" align="center"><p th:text="基金公司" align="center"></p></LI>
            </UL>

            <UL class="innerDetail fundJzxx bgfa" style="height: 35px; width:850px; background-color: rgb(255, 255, 255);">
                <LI data-bind="text:NetDate" style="line-height:30px; width:212.5px;"  > <P th:text="${fund.userProductstateObj.stateName}" align="center"></P></LI>
                <LI data-bind="text:NetValue" style="line-height:30px; width:212.5px;"><p th:text="${fund.fundNpv}" align="center"></p></LI>
                <LI data-bind="text:NetValue" style="line-height:30px; width:212.5px;"><p th:text="${fund.userMangerObj.adminName }" align="center"></p></LI>
                <LI data-bind="text:NetValue" style="line-height:30px; width:212.5px;"><p th:text="${fund.userCompanyObj.companyName }" align="center"></p></LI>
            </UL>


            <UL class="innerDetail fundJzxx bgfa" style="height: 35px; width:850px; background-color: rgb(255, 255, 255);">
                <!--<LI style="line-height:30px; width:212.5px;" align="center" ><p th:text=""></p></LI>-->
                <!--<LI style="line-height:30px; width:212.5px;" align="center"><p th:text=""></p></LI>-->
                <!--<LI style="line-height:30px; width:212.5px;" align="center"><p th:text=""></p></LI>-->
               <LI style="line-height:30px; width:212.5px;float:right;">
                   <a href="@{/user/buysale/UserLoadSaleFund(fundId=${fund.fundId}})}" class="companyTag" style="float:right;" th:text="购买"> </a>
               </LI>
            </UL>


        </DIV>
    </DIV>
</DIV>


<div class="wrapper">
    <DIV class="innerBanner detailTitle" id="zsqx">
        <SPAN class="detailZsqxOff">走势曲线</SPAN>
    </DIV>
    <div class="con962">
        <div class="companyTop" style="width: 800px;" align="center" >
    <!--<DIV style="width: 100%; float: left; position: relative;">-->
        <!--<DIV class="selDate" style="left: 255px; width: 100px; position: absolute; z-index: 1;">-->
            <SELECT id="selectdate" align="center" >
                <OPTION value="1">近一个月</OPTION>
                <OPTION value="3">近三个月 </OPTION>
                <OPTION value="6">近半年</OPTION>
                <!--<OPTION value="12">近一年 </OPTION>-->
                <!--<OPTION value="24">近两年</OPTION>-->
            </SELECT>
            <div id="container" style="float: left;margin: 0;height: 300px; width: 100%; position: relative;">

            </DIV>
    </DIV>
</div>
<div class="wrapper">
    <DIV class="innerBanner detailTitle" id="zsqx">

        <SPAN  class="detailJzxxOff">净值信息</SPAN></DIV>
    <div class="con962">
        <div class="companyTop">

            <!--<DIV class="con930">-->
                <!--<UL class="innerTag fundJzxx" style="height: 35px; width:850px; background-color: rgb(255, 255, 255);">-->
                    <!--<form id="myform">-->
                    <!--<LI style="line-height:30px; width:300px;" align="center" ><input type="date" th:id="minDate" th:name="minDate"  align="center" th:text="开始时间："></LI>-->
                    <!--<LI style="line-height:30px; width:300px;" align="center"><input type="date" th:id="maxDate" th:name="maxDate"  align="center" th:text="截止时间："></LI>-->

                    <!--<LI style="line-height:30px; width:250px;" align="center"><input type="button" th:id ="net" th:value="查询"></LI>-->
                    <!--</form>-->
                <!--</UL>-->

 <script th:inline ="javascript" type="text/javascript">
	$(function() {
		$("#net").click(function() {
			$.ajax({
				type : "POST",
				url : "user/findRecord(fundId=${fund.fundId})",
				 data : $('#myform').serialize(),
				dataType : "json",
				 success : function(json) {
				 console.log(1111);
					 <!--$("#datebody").empty();-->
					  <!--for(var i=0;i<json.length;i++){-->
					  <!--$("#datebody").append("-->
					  <!--<ul class=\"innerDetail fundJzxx bgfa\" >-->
					  <!--<li data-bind=\"text:NetDate\">"+json[i].recordDate+"</li>-->
					  <!--<li data-bind=\"text:NetValue\">"+json[i].recordNpv+"</li>-->
					  <!--</ul>");-->
					}

				<!--}-->
			});
		});
		$("#net").click();
	});

</script>


            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>-->
            <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>-->
            <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>-->
            <script type="text/javascript">
		var dom = document.getElementById("container");
		var myChart = echarts.init(dom);
		var a = [];
		var s=[];
		option = null;
		$.ajax({
					type : "POST",
					url : "/bank-web-user/user/findRecord?fundId=${fund.fundId}",
					dataType : "json",
					success : function(json) {
					/* var json = eval(msg); */
		       for(var i=0;i<json.length;i++){
		     s.push(json[i].recordDate)
		     a.push(json[i].recordNpv)
			option = {
		     xAxis: {
		        type: 'category',
		        data: ""
		    },
		    yAxis: {
		        type: 'value'
		    },
		    series: [{
		        data: a,
		        type: 'line',
		        smooth: true
		    }]
		};
		;
		if (option && typeof option === "object") {
		    myChart.setOption(option, true);

		}}}		//myChart.setOption(option);
		});

       </script>
            <script type="text/javascript">
$(function() {
		$("#aaaa").load(function() {
			$.ajax({
				type : "POST",
				url : "/bank-web-user/user/findRecord?fundId=${fund.fundId}",
				//data :  $('#myform').serialize() ,
				dataType : "json",
				success : function(json) {
					//$("#aaaa").empty();
					 for(var i=0;i<json.length;i++){
					 }
			     if(json.length >= 730){
			     var a = (json[0].recordNpv-json[1].recordNpv)/json[1].recordNpv *100;
					a=a.toFixed(2);

					var b1 = 0;
					for(var i=0;i<7;i++){
					   b1+=json[i].recordNpv;
					}
					var b2=0;
					for(var i=7;i<14;i++){
					   b2+=json[i].recordNpv;
					}
					b1=(b1-b2)/b2*100;
					b1=b1.toFixed(2);

					var c1 = 0;
					for(var i=0;i<30;i++){
					   c1+=json[i].recordNpv;
					}
					var c2=0;
					for(var i=30;i<60;i++){
					   c2+=json[i].recordNpv;
					}
					c1=(c1-c2)/c2*100;
					c1=c1.toFixed(2);

					var d1 = 0;
					for(var i=0;i<90;i++){
					   d1+=json[i].recordNpv;
					}
					var d2=0;
					for(var i=90;i<180;i++){
					   d2+=json[i].recordNpv;
					}
					d1=(d1-d2)/d2*100;
					d1=d1.toFixed(2);

					var e1 = 0;
					for(var i=0;i<365;i++){
					   e1+=json[i].recordNpv;
					}
					var e2=0;
					for(var i=365;i<730;i++){
					   e2+=json[i].recordNpv;
					}
					e1=(e1-e2)/e2*100;
					e1=e1.toFixed(2);
				 $("#aaaa").prepend("<li><span>日涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+a+"%"+"</font><br><span>周涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+b1+"%"+"</font><br><span>月涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+c1+"%"+"</font><br><span>季涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+d1+"%"+"</font><br><span>年涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+e1+"%"+"</font></li>");
				 }
				 if(json.length >=180 && json.length<730){
				 var a = (json[0].recordNpv-json[1].recordNpv)/json[1].recordNpv *100;
					a=a.toFixed(2);

					var b1 = 0;
					for(var i=0;i<7;i++){
					   b1+=json[i].recordNpv;
					}
					var b2=0;
					for(var i=7;i<14;i++){
					   b2+=json[i].recordNpv;
					}
					b1=(b1-b2)/b2*100;
					b1=b1.toFixed(2);

					var c1 = 0;
					for(var i=0;i<30;i++){
					   c1+=json[i].recordNpv;
					}
					var c2=0;
					for(var i=30;i<60;i++){
					   c2+=json[i].recordNpv;
					}
					c1=(c1-c2)/c2*100;
					c1=c1.toFixed(2);

					var d1 = 0;
					for(var i=0;i<90;i++){
					   d1+=json[i].recordNpv;
					}
					var d2=0;
					for(var i=90;i<180;i++){
					   d2+=json[i].recordNpv;
					}
					d1=(d1-d2)/d2*100;
					d1=d1.toFixed(2);

				  $("#aaaa").prepend("<li><span>日涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+a+"%"+"</font><br><span>周涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+b1+"%"+"</font><br><span>月涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+c1+"%"+"</font><br><span>季涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+d1+"%"+"</font><br><span>年涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font></li>");
				}
				if(json.length >=60 && json.length<180){
				 var a = (json[0].recordNpv-json[1].recordNpv)/json[1].recordNpv *100;
					a=a.toFixed(2);

					var b1 = 0;
					for(var i=0;i<7;i++){
					   b1+=json[i].recordNpv;
					}
					var b2=0;
					for(var i=7;i<14;i++){
					   b2+=json[i].recordNpv;
					}
					b1=(b1-b2)/b2*100;
					b1=b1.toFixed(2);

					var c1 = 0;
					for(var i=0;i<30;i++){
					   c1+=json[i].recordNpv;
					}
					var c2=0;
					for(var i=30;i<60;i++){
					   c2+=json[i].recordNpv;
					}
					c1=(c1-c2)/c2*100;
					c1=c1.toFixed(2);
				  $("#aaaa").prepend("<li><span>日涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+a+"%"+"</font><br><span>周涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+b1+"%"+"</font><br><span>月涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+c1+"%"+"</font><br><span>季涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>年涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font></li>");
				}if(json.length >=14 && json.length<60){
				 var a = (json[0].recordNpv-json[1].recordNpv)/json[1].recordNpv *100;
					a=a.toFixed(2).to;

					var b1 = 0;
					for(var i=0;i<7;i++){
					   b1+=json[i].recordNpv;
					}
					var b2=0;
					for(var i=7;i<14;i++){
					   b2+=json[i].recordNpv;
					}
					b1=(b1-b2)/b2*100;
					b1=b1.toFixed(2);
				  $("#aaaa").prepend("<li><span>日涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+a+"%"+"</font><br><span>周涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+b1+"%"+"</font><br><span>月涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>季涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>年涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font></li>");
				}
				if(json.length >=2 && json.length<7){
				var a = (json[0].recordNpv-json[1].recordNpv)/json[1].recordNpv *100;
				 	a=a.toFixed(2);
				  $("#aaaa").prepend("<li><span>日涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+a+"%"+"</font><br><span>周涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>月涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>季涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>年涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font></li>");
				}if(json.length<2){
				  $("#aaaa").prepend("<li><span>日涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>周涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>月涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>季涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font><br><span>年涨幅：</span><font style=\"color: rgb(255, 136, 0);\">"+"-</font></li>");
				}
		 if (option && typeof option === "object") {
		    myChart.setOption(option, true);

		}
					 }});
			});
		$("#aaaa").load();

	});
</script>


            <span data-bind="foreach:FundNets" th:id="datebody" >
                <UL class="innerTag fundJzxx" style="height: 35px; width:850px; background-color: rgb(234, 240, 241);">
                    <LI style="line-height:30px; width:425px;" align="center" ><p th:text="净值日期" align="center"></p></LI>
                    <LI style="line-height:30px; width:425px;" align="center"><p th:text="最新净值" align="center"></p></LI>
                </UL>
                      <span data-bind="foreach:FundNets" th:id="datebody" >
                <SPAN data-bind="foreach:FundNets">
                    <UL class="innerDetail fundJzxx bgfa" style="height: 35px; width:850px; background-color: rgb(255, 255, 255);" th:each="recordList : ${recordList}">

                      <LI data-bind="text:NetDate" style="line-height:30px; width:425px;"  >
                          <P th:text="${#dates.format(recordList.recordDate, 'yyyy-MM-dd')}" align="center">
                          </P></LI>
                      <LI data-bind="text:NetValue" style="line-height:30px; width:425px;">
                          <p th:text="${recordList.recordNpv}" align="center">
                          </p></LI>
                     </UL>
                </SPAN>
                      </span>
            </span>
        </div>
            </DIV>
        </DIV>
    </DIV>
</div>

</DIV>
</DIV>
</div>

<div class="wrapper">
    <DIV class="innerBanner detailTitle" id="zsqx">
        <SPAN  class="detailJzxxOff">购买信息</SPAN></DIV>
    <div class="con962">
        <div class="companyTop">
            <DIV class="con930">
                <UL class="innerTag fundJzxx" style="height: 35px; width:850px; background-color: rgb(234, 240, 241);">
                    <LI style="line-height:30px; width:212.5px;" align="center" ><p th:text="最低申购" align="center"></p></LI>
                    <LI style="line-height:30px; width:212.5px;" align="center"><p th:text="最低赎回" align="center"></p></LI>
                    <LI style="line-height:30px; width:212.5px;" align="center"><p th:text="申购费率" align="center"></p></LI>
                    <LI style="line-height:30px; width:212.5px;" align="center"><p th:text="赎回费率" align="center"></p></LI>
                </UL>

                    <UL class="innerDetail fundJzxx bgfa" style="height: 35px; width:850px; background-color: rgb(255, 255, 255);">
                      <LI data-bind="text:NetDate" style="line-height:30px; width:212.5px;"  > <P th:text="${fund.fundMinbuymoney}" align="center"></P></LI>
                      <LI data-bind="text:NetValue" style="line-height:30px; width:212.5px;"><p th:text="${fund.fundMinsalemoney}" align="center"></p></LI>
                      <LI data-bind="text:NetValue" style="line-height:30px; width:212.5px;"><p th:text="${fund.fundBuyratio}" align="center"></p></LI>
                      <LI data-bind="text:NetValue" style="line-height:30px; width:212.5px;"><p th:text="${fund.fundSaleratio}" align="center"></p></LI>
                     </UL>


        </DIV>
    </DIV>
</div>

<div class="wrapper">
    <div class="innerBanner detailTitle"><span th:text="${compan.companyName}">南方基金管理有限公司</span></div>
    <div class="con962">
        <div class="companyTop">
            <ul>
                <li>成立日期：</li>
                <li th:text="${#dates.format(compan.companyBuildtime, 'yyyy-MM-dd')}"></li>
                <li>注册资金：</li>
                <li th:text="${compan.companySignmoney} + '元'"></li>
                <!--<li>合作基金数量：${requestScope.sum}</li>-->
                <li>法人代表：</li>
                <li th:text="${compan.companyLegalperson}"></li>
                <li> 联系人：</li>
                <li th:text="${compan.companyLineperson}"></li>
                <li>公司网站：</li>
                <li style="width: 460px;" th:text="${compan.companyWebsite}"></li>
                <li>电话号码：</li>
                <li style="width: 460px;" th:text="${compan.companyPhone}"></li>
            </ul>
        </div>
        <div class="companyTag">公司简介:</div>
        <div class="conDetail" style="padding-top: 10px; text-indent: 24px;">
            <p th:text="${compan.companyIntroduce}"></p>
        </div>
        <div class="companyTag">办公地址:</div>
        <div class="conDetail" style="padding-top: 10px; text-indent: 24px;" th:text="${compan.companyAddress}">

        </div>
    </div>

</div>
</div>


</body>
</html>
