<!doctype html >
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>申购</title>
    <link rel="stylesheet" href="normalize.css" th:href="@{/user/userlogin/normalize.css}">
    <link rel="stylesheet" href="main.css" th:href="@{/user/userlogin/main.css}">
    <link rel="stylesheet" href="fund.css" th:href="@{/user/findList/fund.css}">
    <link rel="stylesheet" href="jquery.selectric.css" th:href="@{/user/findList/jquery.selectric.css}">
    <script type="text/javascript" src="writeObjectNew.js" th:src="@{/user/userlogin/writeObjectNew.js}">
    </script>
    <script src="jquery-1.12.0.min.js" th:src="@{/user/findList/jquery-1.12.0.min.js}"> </script>
</head>

<body>
<div style="height: 0px;"><object id="versionObj" type="application/npABCSafeInputApp" style="width: 0px; height: 0px;" height="0px" width="0px"></object></div>

<div class="container">
    <div class="buyFund">
        <ul class="tabList clearfix">
            <li>
                <a href="javascript:;" class="nowLink">基金申购</a>
            </li>
        </ul>
        <form class="form-horizontal-half" id="purcForm" action="${pageContext.request.contextPath}/user/buysale/UserBuyFund" method="post">
            <input type="hidden" name="fundId" value="${requestScope.fund.fundId }" />
            <input type="hidden" name="userId" value="${requestScope.user.userId }" />
            <div class="buyFundTableDiv">
                <table class="buyMsg">
                    <tbody>
                    <tr>
                        <td class="subscribeName left">基金名称</td>
                        <td class="right" th:text="${fund.fundName}" th:value="${fund.fundNum}"><!--${requestScope.fund.fundNum }-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${requestScope.fund.fundName }</td>
                    </tr>
                    <tr>
                        <td class="left">基金类型</td>
                     <td class="right" th:switch="${fund.userProductstateObj.stateName}">
                         <p th:case ="债券型" th:text="中低风险等级"></p>
                         <p th:case ="股票型" th:text="高风险"></p>
                         <p th:case ="货币型" th:text="低风险"></p>
                         <p th:case ="保本型" th:text="很低风险"></p>
                         <p th:case ="混合型" th:text="中高风险"></p>
                        </td>
                    </tr>
                    <tr  >
                        <td class="left">签约卡号</td>
                   <td class="right">
                       <span id="acctIdSpan" class="number">
						<select  tabindex="0" th:id="fromAcctNo" th:name="fromAcctNo" class="form-control trn_fromAcctNo" style="width: 61%;">
                        <option  th:each = "debitcard : ${debitcardList}" th:value="${debitcard.cardNum}" th:text="${debitcard.cardNum }" th:name="debitcard.cardNum"></option>
						</select>
                        </span>&nbsp;&nbsp;&nbsp;&nbsp;可用金额：<span th:id="balanceSpan" class="orangeText"></span>元</td>
                    </tr>
                    <tr>
                        <td class="left" style="padding-right: 3px;">申购金额&nbsp;<span title="手续费用包含在此金额内"><img th:src="@{/user/findList/attention.png}" height="14" width="14"></span></td>
                        <td class="right"><input class="form-control" th:id="trnAmtInput" th:name="trnAmt" value=""
                                                 th:placeholder="'最低申购金额'+${fund.fundMinbuymoney}+'元'"
                                                type="text">&nbsp;元&nbsp;&nbsp;<span id="errorTipSpan" class="redFont">
                            <img th:src="@{/user/findList/check_error.png}" height="14" width="14">&nbsp;金额必需输入！</span></td>
                    </tr>
                  <!--<tr>-->
                        <!--<td class="left">大写金额 </td>-->
                        <!--<td th:id="bigFromAcctAmt" class="right" class="orangeText"></td>-->
                    <!--</tr>-->
                    </tbody>
                    <tbody style="display: none;">
                    <tr>
                        <td class="left">
                            <a href="###" class="fund-more" id="moreDiv"><span>更多</span>&nbsp;&nbsp;&nbsp;<img src="expansion-downward.png"></a>
                        </td>
                        <td class="right"></td>
                    </tr>
                    <tr id="mmDiv" class="hidden">
                        <td class="left" style="padding-right: 3px;">营销人员(选填)&nbsp;<span title="请输入营销人员手机号码或者身份证号"><img  th:src="@{/user/findList/attention.png}"  height="14" width="14"></span></td>
                        <td class="right"><input class="form-control" id="marketManager" name="marketManager" placeholder="请输入营销人员手机号码或者身份证号" maxlength="18" type="text">&nbsp;&nbsp;<span id="marketManagerSpan" class="redFont"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn-group">
                    <a href="javascript:js_method()" id="submitBtn" class="submitBtn btn btn-primary">提交</a>
                    <a href="https://perbank.abchina.com/EbankSite/FundBrowserInitAct.do" class="cancelBtn btn btn-secondary ">取消</a>
                </div>
            </div>
        </form>
        <script th:inline ="javascript" type="text/javascript">
            function js_method(){
                $("#purcForm").submit();
            }

        </script>

        <div class="page-help">
            <div class="title">温馨提示：</div>
            <div class="content">
                <ul>
                    <li>该笔交易可能产生费用。详见中国结算深圳分公司相关公告，咨询及投诉电话 : 400-888-2666 </li>
                </ul>
            </div>
        </div>

    </div>
    <form id="feeForm" method="post" action="https://perbank.abchina.com/EbankSite/ComputeFundChargeAct.do">
        <input id="acctId2" name="acctId" value="6228452208036782970" type="hidden">
        <input name="acctType" value="401" type="hidden">
        <input id="acctOpenBankId2" name="acctOpenBankId" value="31900" type="hidden">
        <input name="fundCode" value="202109" type="hidden">
        <input name="trialType" value="02" type="hidden">
        <input id="feeTrnAmt" name="trnAmt" value="" type="hidden">
    </form>
    <form id="failForm" method="post" action="https://perbank.abchina.com/EbankSite/FundMasterBuyResultAct.do">
        <input id="failError" name="failError" value="" type="hidden">
        <input id="failErrMsg" name="failErrMsg" value="" type="hidden">
        <input id="failFundCode" name="failFundCode" value="202109" type="hidden">
        <input id="failAction" name="failAction" value="FundPURCSubscriptionInitAct" type="hidden">
    </form>
    <div class="hideDiv">
    </div>
    <div id="sign" class="sign" style="display: none; z-index: 5;">
    </div>
    <div id="fundRiskBig" class="fundRiskBig riskBuySureAlert" style="display: none;">

        <div class="riskBuyCenter">

            <div class="content">
                <div class="account" style="height: 500px; width: 850px; overflow-y: auto; overflow-x: hidden;">
                    <table class="show">
                        <tbody>
                        <tr>
                            <td>
                                <h3 class="risk-message-title">投资者风险不匹配警示函</h3>
                                <p></p>
                                <p>
                                    经核实，您/贵机构申请购买的产品或服务风险等级为【中低风险】,您当前风险等级为【保守型】，不属于最低风险承受能力的普通投资者。根据适当性匹配原则，该产品或者服务高于您/贵机构风险承受能力，我行特此向您/机构警示： 购买该产品/服务，可能导致您/贵机构承担超出自身承受能力损失以及不利后果。<br> 请您认真考虑相应风险，审慎决定购买该产品或服务，并签署《投资者确认书》。
                                </p>
                                <p></p>
                                <h3 class="risk-message-title">投资者确认书</h3>
                                <p></p>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人/本机构已收到贵行出具的《风险不匹配警示函》，对于本人/本机构申请购买产品/服务风险等级高于本人/本机构风险承受能力情况已知悉，并且已充分了解该产品/服务的风险特征和可能的不利后果。<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经本人/本机构审慎考虑，仍坚持申请购买该产品/服务，并自愿承担由此可能产生的一切不利后果和损失。该销售机构及工作人员在销售过程中，不存在直接或间接主动向本人/本机构推介该产品/服务的行为。
                                <br>
                                <p></p>
                                <h3 class="risk-message-title">风险提示书</h3> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开放式基金是一种投资型产品，不是储蓄存款、不是银行理财产品。基金在投资运作过程中可能面临各种风险，既包括市场风险，也包括基金自身的管理风险等。基金管理人不保证本基金一定盈利，也不保证最低收益，您的本金可能出现亏损。我行仅为基金代理销售机构，对基金管理人的行为不承担法律责任，对您的投资本金和收益不承担保证或兜底责任。
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您须使用自有资金购买我行代销的基金产品，您已清楚知晓并理解将要购买的产品的详细情况与风险，本次投资是您独立自主做出的决定，投资的盈亏将由您自己承担。
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您在我行提交交易申请，须由基金管理人确认是否交易成功。产品业绩等信息可通过我行柜面、网上银行、手机银行、自助终端或基金管理人官网等渠道进行查询。如果您有任何意见和建议，可拨打我行客服电话95599或向当地网点咨询。
                                <br>
                                <p></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--<div class="operaBtn">-->
            <!--<div class="risk-message-checkbox">-->
                <!--<input id="riskMessageBigCheckBox" checked="checked" type="checkbox">我已阅读并确认以上<span>《投资者风险不匹配警示函》《投资者确认书》《风险提示书》</span>的提示和内容-->
            <!--</div>-->
            <!--<a id="fundRiskBigCertainBuy" href="javascript:void(0);" class="submitBtn btn btn-primary" onclick=" closeBg('hideDiv', 'fundRiskBig');showBg('hideDiv', 'buyFundSureAlert'); ">同意</a>-->
            <!--<a href="https://perbank.abchina.com/EbankSite/FundBrowserInitAct.do" class="btn btn-secondary">取消</a>-->
        <!--</div>-->
    </div>
    <div id="customerRiskBig" class="customerRiskBig riskBuySureAlert" style="display: none;">

        <!--<div class="riskBuyCenter">-->

            <!--<div class="content">-->
                <!--<div class="account" style="height: 500px; width: 850px; overflow-y: auto; overflow-x: hidden;">-->
                    <!--<table class="show">-->
                        <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td>-->
                                <!--<h3 class="risk-message-title">投资者风险匹配告知书</h3>-->
                                <!--<p></p>-->
                                <!--<p>尊敬的投资者：</p>-->
                                <!--<p></p>-->
                                <!--<p>-->
                                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;根据您/贵机构的投资者基本信息，依据相关法律、法规的规定，我行将您认定为普通投资者。结合您/贵机构填写的《风险承受能力评估问卷》以及其它相关信息，我行对您的风险承受能力进行了综合评估，现得到评估结果如下：<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您/贵机构的风险承受能力为：【保守型】，依据我行的投资者与产品、服务风险等级匹配规则，您/贵机构的风险承受能力等级与您要购买的基金产品的风险等级相匹配。-->
                                    <!--<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我行在此郑重提醒，我行向您/贵机构销售的产品或提供的服务将以您的风险承受能力等级和投资品种、期限为基础，若您/贵机构提供的信息发生任何重大变化，您/贵机构应当及时更新。我行建议您/贵机构审慎评判自身风险承受能力、结合自身投资行为，认真选择投资品种、期限，并做出审慎的投资判断。-->
                                    <!--<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如同意我行评估结果，请确认以示同意。-->
                                <!--</p>-->
                                <!--<p></p>-->
                                <!--<p></p>-->
                                <!--<h3 class="risk-message-title">投资者确认函</h3>-->
                                <!--<p></p>-->
                                <!--<p>尊敬的投资者：</p>-->
                                <!--<p></p>-->
                                <!--<p>-->
                                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人/本机构已仔细阅读贵行的《投资者风险匹配告知书》，已充分知晓并理解贵行对本人/本机构的风险承受能力评估及产品、服务风险等级匹配结果。本人/本机构对该《投资者风险匹配告知书》内容没有异议，愿意遵守法律、法规及贵行有关规定，通过贵行购买产品或者服务。<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本人/本机构承诺，将及时如实地向贵行告知本人/本机构的重大信息变更。-->
                                    <!--<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本确认函系本人/本机构独立、自主、真实的意思表示。-->
                                    <!--<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;特此确认。-->
                                <!--</p>-->
                                <!--<p></p>-->
                                <!--<h3 class="risk-message-title">风险提示书</h3>-->
                                <!--<p>-->
                                    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;开放式基金是一种投资型产品，不是储蓄存款、不是银行理财产品。基金在投资运作过程中可能面临各种风险，既包括市场风险，也包括基金自身的管理风险等。基金管理人不保证本基金一定盈利，也不保证最低收益，您的本金可能出现亏损。我行仅为基金代理销售机构，对基金管理人的行为不承担法律责任，对您的投资本金和收益不承担保证或兜底责任。<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您须使用自有资金购买我行代销的基金产品，您已清楚知晓并理解将要购买的产品的详细情况与风险，本次投资是您独立自主做出的决定，投资的盈亏将由您自己承担。-->
                                    <!--<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您在我行提交交易申请，须由基金管理人确认是否交易成功。产品业绩等信息可通过我行柜面、网上银行、手机银行、自助终端或基金管理人官网等渠道进行查询。如果您有任何意见和建议，可拨打我行客服电话95599或向当地网点咨询。-->
                                    <!--<br>-->
                                <!--</p>-->
                                <!--<p></p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->

        </div>

        <!--<div class="operaBtn">-->
            <!--<div class="risk-message-checkbox">-->
                <!--<input id="riskMessageEquleCheckBox" checked="checked" type="checkbox">我已阅读并确认以上<span>《投资者风险匹配告知书》《投资者确认函》《风险提示书》</span>的提示和内容-->
            <!--</div>-->
            <!--<a id="customerRiskBigCertainBuy" href="javascript:void(0);" class="submitBtn btn btn-primary" onclick=" closeBg('hideDiv', 'customerRiskBig');showBg('hideDiv', 'buyFundSureAlert'); ">同意</a>-->
            <!--<a href="https://perbank.abchina.com/EbankSite/FundBrowserInitAct.do" class="btn btn-secondary">取消</a>-->
        <!--</div>-->
    </div>
    <!--<div class="riskTestAlert" style="display: none;">-->
        <!--<h2><a href="https://perbank.abchina.com/EbankSite/FundBrowserInitAct.do" class="close"></a>风险提示</h2>-->
        <!--<div class="risk-buy-center-test">-->
            <!--你所购买的基金超过您的风险承受能力，请前往网点<br>销售专区购买。点击确认重新测评，否则请点击取消。-->
        <!--</div>-->
        <!--<div class="operaBtn">-->
            <!--<a href="###" class="submitBtn btn btn-primary" id="riskTest">确认</a>-->
            <!--<a href="https://perbank.abchina.com/EbankSite/FundBrowserInitAct.do" class="btn btn-secondary">取消</a>-->
        <!--</div>-->
    <!--</div>-->


    <div id="magContent" class="sign"></div>
</div>
<script th:inline ="javascript"  type="text/javascript">

		$(function(){
		console.log(123);
			$.ajax({
				type:"POST",
				url:"/user/findcardMoney",
				data:{"cardNum":$("#fromAcctNo").val()},
				dataType:"json",
				success:function(data){
					 $("#balanceSpan").text(data.cardRestmoney);
				}
			});
			$("#fromAcctNo").change(function(){
				$.ajax({
					type:"POST",
					url:"/user/findcardMoney",
					data:{"cardNum":$(this).val()},
					dataType:"json",
					success:function(data){
						 $("#balanceSpan").text(data.cardRestmoney);

					}
				});
			});
		});
		</script>

<script src="jquery-1.12.0.min.js">
</script>
<script src="placeholders.jquery.min.js" th:src="@{/user/findList/placeholders.jquery.min.js}">
</script>
<script src="jquery.selectric.js" th:src="@{/user/findList/jquery.selectric.js}">
</script>
<script src="jquery.popupoverlay-1.7.11.js" th:src="@{/user/user/jquery.popupoverlay-1.7.11.js}">
</script>
<script src="jAlert.js">
</script>
<script src="dataHelper.js" th:href="@{/user/userlogin/dataHelper.js}"></script>
<script src="hiddenPopDiv.js" th:src="@{/user/findList/hiddenPopDiv.js}">
</script>
<script src="fund_common.js" th:src="@{/user/findList/fund_common.js}">
</script>
<script src="cardBalance.js"></script>
<script src="preRepeSubmit.js"></script>
<script src="dataObject.js" th:href="@{/user/userlogin/dataObject.js}"></script>
<script src="fund_account.js" th:href="@{/user/userlogin/fund_account.js}">
</script>
<script src="config.js" th:src="@{/user/findList/config.js}"></script>
<script th:inline ="javascript" type="text/javascript">
    var timeOut = 5;
    var constTimeOut = 5;
    $('#riskMessageBigCheckBox').on('click', function() {
        if($('#riskMessageBigCheckBox').prop('checked') == true) {
            $('#fundRiskBigCertainBuy').prop('disabled', false);
        } else {
            $('#fundRiskBigCertainBuy').prop('disabled', true);
        }
    });
    $('#riskMessageEquleCheckBox').on('click', function() {
        if($('#riskMessageEquleCheckBox').prop('checked') == true) {
            $('#customerRiskBigCertainBuy').prop('disabled', false);
        } else {
            $('#customerRiskBigCertainBuy').prop('disabled', true);
        }
    });

    function showFundRiskBigCertain() {
        $('#fundRiskBigCertainBuy').attr('disabled', true);
        $('#fundRiskBigCertainBuy').text('确定(' + timeOut + "s)");
        var agreeInterval = setInterval(function() {
            if(timeOut > 0) {
                timeOut--;
                $('#fundRiskBigCertainBuy').text('确定（' + timeOut + "s)");
                $('#riskMessageBigCheckBox').attr("disabled", true);
            } else {
                $('#riskMessageBigCheckBox').attr("disabled", false);
                $('#fundRiskBigCertainBuy').text('确定');
                $('#fundRiskBigCertainBuy').attr('disabled', false);
                clearInterval(agreeInterval);
                timeOut = constTimeOut;
            }
        }, ${requestScope.fund.fundMinbuymoney});
        //setTimeout(function () {
        //    $('#fundRiskBigCertainBuy').attr('disabled', false);
        //    $('#riskMessageBigCheckBox').attr("disabled", false);
        //    $('#customerRiskBigCertainBuy').text('确定');
        //    clearInterval(agreeInterval);
        //}, (timeOut + 1) * 1000);
        showBg('hideDiv', 'fundRiskBig');
    }

    function showCustomerRiskBig() {
        $('#customerRiskBigCertainBuy').attr('disabled', false);
        $('#customerRiskBigCertainBuy').text('确定');
        showBg('hideDiv', 'customerRiskBig');
    }

    function judgeBeforeAct() { //基金风险匹配规则
        if($("#fundRiskLevel").val() > $("#custRiskLevel").val()) {
            if('01' === $("#custRiskLevel").val()) {
                $('#riskTest').click(function() {
                    closeBg('hideDiv', 'riskTestAlert');
                    $('#magContent').html("");
                    $('#magContent').load('FundRiskPaperAct.do?acctId=' + "6228452208036782970" + "&&acctOpenBankId=" + "31900" + "&&selectpaper=FPAndFund&&buttonFlag=2", function() {
                        showTestPage();

                        $('#btnPassTest2').on('click', function() {
                            var score = doTestAndAnswer();
                            if(score == false) {
                                return;
                            }
                            var obj = {};
                            obj.acctOpenBankId = '31900';
                            obj.iRiskType = score.risktypeTmp;
                            obj.answer = score.answer;
                            obj.score = score.score;
                            obj.cInvCustTp = score.cInvCustTp;
                            $('#testResultShow').html(paramRiskLevel(score.risktypeTmp));
                            $.post("FundRiskDoAct.do", obj, function(data) {
                                var aa = eval('(' + data + ')');
                                if(aa.rsCode == "0000") {
                                    showResultPage("6228452208036782970", "测评结果");
                                    var v = parseInt($('#backCount').html());
                                    if(parseInt(aa.iReturnCnt) > 0) {
                                        //返回持有基金有超过当前客户等级基金
                                        $('#showBigFundResult').show();
                                        $('#bigFundResult').text(aa.nameList);
                                        $('#checkMoreFunds').hide();
                                    }
                                    if(parseInt(aa.iReturnCnt) == 10 && aa.sIndExist == 2) {
                                        //返回10条，切存在超过20条的持有基金超过当前客户等级
                                        $('#checkMoreFunds').show();
                                    }
                                } else {
                                    goToError(aa.rsCode, aa.userErrorMsg, "FundAccountInitAct.do");
                                }
                            });
                        });

                        $('#btnAutoAnswer').on('click', function() {
                            var score = doAutoTestAndAnser();
                            if(score == false) {
                                return;
                            }
                            var obj = {};
                            obj.acctOpenBankId = '31900';
                            obj.iRiskType = score.risktypeTmp;
                            obj.answer = score.answer;
                            obj.score = score.score;
                            obj.cInvCustTp = score.cInvCustTp;
                            $('#testResultShow').html(paramRiskLevel(score.risktypeTmp));
                            $.post("FundRiskDoAct.do", obj, function(data) {
                                var aa = eval('(' + data + ')');
                                if(aa.rsCode == "0000") {
                                    showResultPage("6228452208036782970", "测评结果");
                                    var v = parseInt($('#backCount').html());
                                    if(parseInt(aa.iReturnCnt) > 0) {
                                        //返回持有基金有超过当前客户等级基金
                                        $('#showBigFundResult').show();
                                        $('#bigFundResult').text(aa.nameList);
                                        $('#checkMoreFunds').hide();
                                    }
                                    if(parseInt(aa.iReturnCnt) == 10 && aa.sIndExist == 2) {
                                        //返回10条，切存在超过20条的持有基金超过当前客户等级
                                        $('#checkMoreFunds').show();
                                    }
                                } else {
                                    goToError(aa.rsCode, aa.userErrorMsg, "FundAccountInitAct.do");
                                }
                            });

                        });
                        showBg("hideDiv", "sign");
                        changeFrameHeight();
                    });
                });
                showBg('hideDiv', 'riskTestAlert');
            } else {
                //showBg('hideDiv', 'riskBuySureAlert');

                Confirm("你所购买的基金超过您的风险承受能力，请前往网点销售专区购买。<br/>若您已知悉并坚持购买，请点击确认，否则请点击取消。", "风险提示", function() {
                    showFundRiskBigCertain();
                }, function() {
                    $.setPosInfo('投资/基金/基金购买');
                    window.location.href = 'FundBrowserInitAct.do';
                    return false;
                }, '', '确定');

            }
        } else {
            //showBg('hideDiv', 'buyFundSureAlert');
            showCustomerRiskBig();
        }
    }
    /*安全控件专用*/
    //submit提交的时候要自己手动判断如果input text 的值为data - prompt的值就提交后台一个控制
    $(function() {
        if("0" == "1") {
            alert("该产品为指数熔断类产品，今日若发生熔断至收市情形，熔断时点后发生的该交易申请将于下一开放日处理。");
        }
        if("7.0" == "10") {
            $("#discount").text("无");
        }
        $.getBalance({
            'acct': $("#acctIdSpan").text(),
            /*'EAList[0].acctNo@6228460018008739076',*/
            'type': 'one',
            'element': '',
            'target': 'balanceSpan'
        });
        var fundStt = "001110";
        if(fundStt.substring(2, 4) === "01") {
            $("#subBtn").text("预约申购");
        }
        $("#trnAmtInput").on("keyup", function() {
            var val = $(this).val();
            $("#feeTrnAmt").val(val);
            $("#bigFromAcctAmt").text($.ChangeToBig(val));
            $("#confirmAmt").text(val);
        }).on("blur", function() {
            var val = $(this).val();
            $("#feeTrnAmt").val(val);
            $("#bigFromAcctAmt").text($.ChangeToBig(val));
            $("#confirmAmt").text(val);
            var fromAcctAmt = $(this).val();
            var errorMsg = checkAcctAmt(fromAcctAmt);
            if(val>parseInt($("#balanceSpan").text())){
                $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;您的余额不足！");
                $("#submitBtn").attr("disabled",true);
                return false;
            }
            if(!!errorMsg) {
                $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;" + errorMsg);
                $("#submitBtn").attr("disabled",true);
                return false;
            } else {
                $("#errorTipSpan").text("");
            }

            var isFirstTime = "1";
            var reqAddAmt = [[${fund.fundMinbuymoney}]];
            var lstReqAmt = [[${fund.fundMinbuymoney}]];
            var step = "0.01";

            if(isFirstTime == "1") {
                if(fromAcctAmt < lstReqAmt) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须大于首次购买最小额！");
                    $("#submitBtn").attr("disabled",true);
                    return false;
                } else if(parseInt((fromAcctAmt - lstReqAmt) * 100) % parseInt(step * 100) != 0) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须为" + step + "的整数倍！");
                    $("#submitBtn").attr("disabled",true);
                    return false;
                } else {
                    $("#errorTipSpan").text("");
                }
            } else {
                if(fromAcctAmt < reqAddAmt) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须大于追加购买最小额！");
                    $("#submitBtn").attr("disabled",true);
                    return false;
                } else if(parseInt((fromAcctAmt - reqAddAmt) * 100) % parseInt(step * 100) != 0) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须为" + step + "的整数倍！");
                    $("#submitBtn").attr("disabled",true);
                    return false;
                } else {
                    $("#errorTipSpan").text("");
                }
            }
            $("#submitBtn").attr("disabled",false);
        });

        var source = '';
        var isElectric = 'False';
        if(source == '0' && isElectric == 'false') {
            showBg('hideDiv', 'electricTip');
            $('#electricButton').on('click', function() {
                closeBg("hideDiv", "electricTip");
            });
        }
        $('#moreDiv').click(function(e) {
            e.preventDefault();
            $('#mmDiv').toggleClass("hidden");
            var el = $(this).find('span');
            el.text(el.text() === '收起' ? '更多' : '收起');
        });
        $("#marketManager").blur(function() {
            var manager = $.trim($("#marketManager").val());
            if(!/^(\d{11}|\d{18}|\d{17}X)?$/.test(manager)) {
                $("#marketManagerSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;信息格式有误！");
                return false;
            } else {
                $("#marketManagerSpan").text("");
            }
        });
        $("#feeLink").click(function() {
            var fromAcctAmt = $("#trnAmtInput").val();
            var errorMsg = checkAcctAmt(fromAcctAmt);
            if(!!errorMsg) {
                $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;" + errorMsg);
                return false;
            } else {
                $("#errorTipSpan").text("");
            }
            $("#loadingImg").show();
            var param = $("#feeForm").serialize();
            $.post($("#feeForm").attr("action"), param, function(data) {
                data = $.parseJSON(data);
                if(data.fee != "") {
                    $("#feeSpan").text(data.fee + "元");
                } else {
                    $("#feeSpan").text("");
                }
                $("#loadingImg").hide();
            });

            return true;
        });
        $("#submitBtn").click(function() {
            var fromAcctAmt = $("#trnAmtInput").val();
            var errorMsg = checkAcctAmt(fromAcctAmt);
            if(!!errorMsg) {
                $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;" + errorMsg);
                return false;
            } else {
                $("#errorTipSpan").text("");
            }
            var isFirstTime = "1";
            var reqAddAmt =[[${fund.fundMinbuymoney}]];
            var lstReqAmt =[[${fund.fundMinbuymoney}]];
            var step = "0.01";

            if(isFirstTime == "1") {
                if(fromAcctAmt < lstReqAmt) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须大于首次购买最小额！");
                    return false;
                } else if(parseInt((fromAcctAmt - lstReqAmt) * 100) % parseInt(step * 100) != 0) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须为" + step + "的整数倍！");
                    return false;
                } else {
                    $("#errorTipSpan").text("");
                }
            } else {
                if(fromAcctAmt < reqAddAmt) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须大于追加购买最小额！");
                    return false;
                } else if(parseInt((fromAcctAmt - reqAddAmt) * 100) % parseInt(step * 100) != 0) {
                    $("#errorTipSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;金额须为" + step + "的整数倍！");
                    return false;
                } else {
                    $("#errorTipSpan").text("");
                }
            }

            var manager = $.trim($("#marketManager").val());
            if(mktManager.length == 0 && !/^(\d{11}|\d{18}|\d{17}X)?$/.test(manager)) {
                $("#marketManagerSpan").html("<img src='check_error.png' width='14' height='14'/>&nbsp;信息格式有误！");
                $('#mmDiv').removeClass("hidden");
                $(this).find('span').text('收起');
                return false;
            } else {
                $("#marketManagerSpan").text("");
            }

            judgeBeforeAct();
            return true;
        });
        $("#subBtn").preRepeSubmit(); //防止重复提交
        $("#subBtn1").preRepeSubmit(); //防止重复提交

        $("#subBtn").click(function() {

            if(!password.DealWithPwd("purcForm", "636605310165189605")) {
                document.getElementById("powerpass_ie").focus();
                $("#subBtn").preRepeSubmit('recover');
                $("#subBtn1").preRepeSubmit('recover');
                return false;
            }
            $("#errorMsg").html("<img src='loading_small.gif' width='19' height='18'/>");
            var url;
            var param = $("#purcForm").serialize();
            if(fundStt.substring(2, 4) == "01") {
                url = "FundPURCSubscriptAfterTradeTimeAct.do";
                $.post(url, param, function(data) {
                    var obj = $.parseJSON(data);
                    if(obj.errorCode == "") {
                        $("#isTradeTime").val("0");
                        $("#purcForm").submit();
                    } else {
                        $("#failError").val(obj.errorCode);
                        $("#failErrMsg").val(obj.errorMsg);
                        $("#failForm").submit();
                    }
                });
            } else {
                url = "FundPURCSubscriptionBuyAct.do";
                $.post(url, param, function(data) {
                    var obj = $.parseJSON(data);
                    if(obj.errorCode == "") {
                        $("#purcForm").submit();
                    } else if(obj.isTradeTime == "0") {
                        $("#buyFundDialog").hide();
                        $("#TBuyFundDialog").show();
                        $("#subBtn").preRepeSubmit('recover');
                    } else {
                        $("#failError").val(obj.errorCode);
                        $("#failErrMsg").val(obj.errorMsg);
                        $("#failForm").submit();
                    }
                });
            }
            return true;
        });

        $("#subBtn1").click(function() {
            $("#errorMsg1").html("<img src='loading_small.gif' width='19' height='18'/>");
            var url = "FundPURCSubscriptAfterTradeTimeAct.do";
            var param = $("#purcForm").serialize();
            $.post(url, param, function(data) {
                var obj = $.parseJSON(data);
                if(obj.errorCode == "") {
                    $("#isTradeTime").val("0");
                    $("#purcForm").submit();
                } else {
                    $("#failError").val(obj.errorCode);
                    $("#failErrMsg").val(obj.errorMsg);
                    $("#failForm").submit();
                }
            });
            return true;
        });
    });

    ///// 校验是否签约
    var signFlag = "2";
    if("0" == signFlag) {
        $('#magContent').html("");
        $('#magContent').load('FundRiskPaperAct.do?acctId=' + "6228452208036782970" + "&&acctOpenBankId=" + "31900" + "&&selectpaper=FPAndFund&&buttonFlag=1&&nextAction=FundPURCSubscriptionInitAct.do?fundCode=202109&&nextDataPos=" + encodeURI(encodeURI('投资/基金/基金购买')) + '&r=' + Math.random(), function() {
            showTestPage();
            showBg("hideDiv", "sign");
            changeFrameHeight();
        });
    } else if("1" == signFlag) {
        $('#magContent').html("");
        $('#magContent').load('FundBindCardInitAct.do?acctId=' + "6228452208036782970" + "&&acctOpenBankId=" + "31900" + "&&custName=" + "王春英", function() {
            showBindPage();
            showBg("hideDiv", "sign");
            changeFrameHeight();
        });
    }

    function goToError(errorCode, errorMessage) {
        $("#failError").val(errorCode);
        $("#failErrMsg").val(errorMessage);
        $("#failForm").submit();
    }

    function goToSuccess(acctId, acctOpenBankId) {
        $("#acctIdSpan").text(acctId);
        $("#acctIdSpan1").text(acctId);
        $("#acctId1").val(acctId);
        $("#acctId2").val(acctId);
        $("#acctOpenBankId1").val(acctOpenBankId);
        $("#acctOpenBankId2").val(acctOpenBankId);
    }

    function refreshPage() {
        location.reload();
    }

    function closeBuyFundSureAlert() {
        $('.pwdError').html("");
        document.getElementById("powerpass_ie").clear();
        closeBg('hideDiv', 'buyFundSureAlert');
    }
    //自动关闭div

    function closeLoadingPage(acctId, acctOpenBankId) {
        $("#acctIdSpan").text(acctId);
        $("#acctIdSpan1").text(acctId);
        $("#acctId1").val(acctId);
        $("#acctId2").val(acctId);
        $("#acctOpenBankId1").val(acctOpenBankId);
        $("#acctOpenBankId2").val(acctOpenBankId);
        closeBg("hideDiv", "sign");
        refreshPage();
    }
    (function() {
        mktManager = "";
        if(mktManager.length > 0) {
            $('#marketManager').val(mktManager);
            $('#moreDiv').css("display", "none");
        } else {
            if(parent.custManager && parent.custManager.length > 0) {
                var tel = parent.custManager[0].Mobile;
                if(tel) {
                    $('#marketManager').val(tel);
                }
            }
        }
    })();
</script>




</body>

</html>
