<!doctype html >
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>单笔转账首页</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="normalize.css" th:href="@{/user/userlogin/normalize.css}">
    <link rel="stylesheet" href="main.css" th:href="@{/user/userlogin/main.css}">
    <link type="text/css" rel="stylesheet" href="transfer_accounts.css" th:href="@{/user/user/main.css}">
    <link type="text/css" rel="stylesheet" href="style.css" th:href="@{/user/user/style.css}">
    <link type="text/css" rel="stylesheet" href="jquery.selectric.css" th:href="@{/user/findList/jquery.selectric.css}">
    <link type="text/css" rel="stylesheet" href="jquery.qtip.css" th:href="@{/user/userlogin/jquery.qtip.css}">
    <script src="jquery-1.12.0.min.js" th:src="@{/user/userlogin/jquery-1.12.0.min.js}"> </script>
    <script src="placeholders.jquery.min.js" type="text/javascript" th:src="@{/user/user/placeholders.jquery.m.js}"></script>
    <script src="moment-with-locales.min.js" th:src="@{/user/user/moment-with-locales.min.js}"> </script>
    <script src="pikaday.js" th:src="@{/user/user/pikaday.js}"> </script>
    <script src="jquery.selectric.js" th:src="@{/user/findList/jquery.selectric.js}"> </script>
    <script src="jquery.popupoverlay-1.7.11.js" th:src="@{/user/user/jquery.popupoverlay-1.7.11.js}"> </script>
    <!--<script src="jquery.qtip.min.js" th:src="@{/user/userlogin/jquery.qtip.min.js}"> </script>-->
    <script src="jquery.validate.min.js" th:src="@{/user/user/jquery.validate.min.js}"> </script>
    <script src="messages_zh.js" th:src="@{/user/user/messages_zh.js}"> </script>
    <script src="jTabs.js" th:src="@{/user/findList/jTabs.js}"> </script>
</head>
<script th:inline ="javascript" type="text/javascript">
    $(function(){
        $("#toAcctNo").blur(function(){
            $.ajax({
                type:"POST",
                url:"/user/findcardNum",
                data:{"cardNum":$(this).val()},
                dataType:"json",
                success:function(data){
                    $("#toAcctNameKey").val(data.identityName);
                }
            });
        });
    });
</script>
<script th:inline ="javascript" type="text/javascript">
    $(function(){
        $.ajax({
            type:"POST",
            url:"/user/findcardMoney",
            data:{"cardNum":$("#fromAcctNo").val()},
            dataType:"json",
            success:function(data){
                $("#balanceSpan").text(data.cardRestmoney);
            }
        });
        $("#fromAcctNo").change(function(){

            $.ajax({
                type:"POST",
                url:"/user/findcardMoney",
                data:{"cardNum":$("#fromAcctNo").val()},
                dataType:"json",
                success:function(data){
                    $("#balanceSpan").text(data.cardRestmoney);
                }
            });



        });


    });
</script>
<body>
<form id="mainForm" name="mainForm" th:action="@{/user/transfer}" method="post">
    <input type="hidden" name="transfer" id="transfer" value="1"><!--transferPublic.js 1019-->
    <div class="container">

        <div class="tabs">
            <ul class="tabs-head">
                <li>
                    <a href="" data-method="skip" data-toggle="tab" class="active">转账</a>
                <li class="right">
                    <span class="delay"></span>
                    <a href="https://perbank.abchina.com/EbankSite/InnerTransferQryDelayTransListInitAct.do" class="dropdown-title">转账撤销</a>
                </li>
            </ul>
        </div>

        <div class="trn_backline">
            <table class="table table-centre">
                <tbody>
                <tr>
                    <td class="trn-firsttd">
                        <label class="trn_mustData">*&nbsp;&nbsp;</label>付款账户&nbsp;&nbsp;</td>
                    <td class="right trn-position">
                        <!--<select tabindex="0" th:id="fromAcctNo" th:name="fromAcctNo" class="form-control trn_fromAcctNo" style="width: 61%;">-->
                            <!--<option th:each="debitcard : ${debitcardList}}" th:value="${debitcard.cardNum }" th:name="debitcard.cardNum" th:text="${debitcard.cardNum }"></option>-->

                        <!--</select>-->
                        <select  tabindex="0" th:id="fromAcctNo" th:name="fromAcctNo" class="form-control trn_fromAcctNo" style="width: 61%;">
                            <option  th:each = "debitcard : ${debitcardList}" th:value="${debitcard.cardNum}" th:text="${debitcard.cardNum }" th:name="debitcard.cardNum"></option>
                        </select>

                        <div class="trn-balance">
                            </span>&nbsp;&nbsp;&nbsp;&nbsp;可用金额：<span th:id="balanceSpan" class="orangeText"></span>元</td>
        </div>
        <script th:inline ="javascript" type="text/javascript">
            $('#fromAcctNo').selectric();
        </script>
        </td>

        </tr>

        <tr>
            <td class="trn-firsttd">
                <label class="trn_mustData">*&nbsp;&nbsp;</label>转账金额&nbsp;&nbsp;</td>
            <td class="right  trn-position">
                <input th:id="transAmt" th:name="transAmt" placeholder="本行转账免费" class="form-control required trn-input">
                <div class="trn-balance">
                    &nbsp;&nbsp;&nbsp;&nbsp;<span id="moneyHow" class="orangeText" style="display: none;">您的余额已不足</span></td>
    </div>
    <div id="bigTransAmt" class="trn_bigAmt" style="position: absolute; left: auto; top: auto; margin-left: 10px;"></div>
    </td>
    </tr>
    <script th:inline ="javascript" type="text/javascript">

        $(function(){
          $("#ontimetrn").mousedown(function(){
                document.getElementById("ontimetrn").className = "zz-div zz-backno1";
                document.getElementById("nextdaytrn").className = "zz-div zz-backno2";
                document.getElementById("commntrn").className = "zz-div zz-backno2";
            });
            $("#commntrn").mousedown(function(){
                document.getElementById("nextdaytrn").className = "zz-div zz-backno2";
                document.getElementById("ontimetrn").className = "zz-div zz-backno2";
                document.getElementById("commntrn").className = "zz-div zz-backno1";
            });
            $("#nextdaytrn").mousedown(function(){
                document.getElementById("commntrn").className = "zz-div zz-backno2";
                document.getElementById("ontimetrn").className = "zz-div zz-backno2";
                document.getElementById("nextdaytrn").className = "zz-div zz-backno1";
            });

            $("#transferNext").attr("disabled", true);
            $("#transAmt").blur(function(){
                if(parseInt($("#transAmt").val()) > parseInt($("#balanceSpan").text())){
                    $("#transferNext").attr("disabled", true);
                    $("#moneyHow").show();
                }
                else if(parseInt($("#transAmt").val()) < parseInt($("#balanceSpan").text())){
                    $("#transferNext").attr("disabled", false);
                    $("#moneyHow").hide();
                }else if($("#transAmt").val()==$("#transAmt").val().replace(/[^\d.]/g,'')){
                    $("#transferNext").attr("disabled", true);
                }
            });
        });
    </script>

    <tr>
        <td class="trn-firsttd" style="position: relative;">
            <label class="trn_mustData">*&nbsp;&nbsp;</label>转账方式&nbsp;&nbsp;
            <div class="jia"></div>
        </td>
        <td class="right">
            <div class="zz-div zz-backno1"  th:id="ontimetrn" title="交易受理立即转出（需人工处理的除外）" typeId="1">实时转账</div>
            <div class="zz-div zz-backno2" th:id="commntrn" title="交易受理2小时后转出" typeId="2">普通转账</div>
            <div class="zz-div zz-backno2" th:id="nextdaytrn" title="交易受理24小时后转出" typeId="3">次日转账</div>
        </td>
    </tr>
    </tbody>
    </table>

    <div class="trn_headline"></div>
    <table class="table table-centre">
        <tbody>
        <tr>
            <td>
                <label class="trn_mustData">*&nbsp;&nbsp;</label>收款方&nbsp;&nbsp;</td>
            <td class="right">
                <div class="right trn-position trn-positions m-div_label">
                    <input id="toAcctNameKey" readonly class="form-control trn_input_width required placeholderTrn" placeholder="收款人姓名（例如：张三）" autocomplete="off">
                    <div id="toAcctNameRst" class="trn_result" style="width: 61% ! important; display: none;"></div>

                    <div id="m-pp" class="m-pecparimg" style="position: absolute; cursor: pointer;" title="选择收款方"></div>

                    <div id="groupbox" class="m-groupingbox" style="position: absolute; top: 31px; left: 0px; display: none;">

                        <ul>
                            <li class="m-grouping">分组</li>
                            <li class="m-character">收款方</li>
                        </ul>
                        <div class="m-bigtabbox">
                            <ul class="m-groupgo">
                                <li>
                                    <a id="selfAcct" class="trn_mygroup">本人注册账户</a>
                                </li>
                                <li>
                                    <a id="mobile" class="trn_mygroup">掌银收款方</a>
                                </li>
                                <li>
                                    <a value="1001" title="临时客户组" id="group_0" class="trn_mygroup">临时客户组</a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label class="trn_mustData">*&nbsp;&nbsp;</label>收款账户&nbsp;&nbsp;</td>
            <td class="right">
                <input id="toAcctNo" name="toAcctNo" class="form-control trn_input_width placeholderTrn" placeholder="请输入收款账号（例如：6228480000000000）" maxlength="30" required=""></td>
        </tr>

        </tbody>
    </table>


    <div class="trn_headline" id="moreHeadLine" style=""></div>
    <!--<div class="trn_more">-->
        <!--<a id="moreInfo" href="#">-->
            <!--<span id="morecli">收起</span>-->
            <!--<div class="trn_moreiconless"></div>-->
        <!--</a>-->
    <!--</div>-->

    <table class="table table-centre" id="moreInfoTable" style="">
        <tbody>
        <tr>
            <td class="trn-firsttd">
                <label class="trn_mustData"></label> &nbsp;&nbsp;邮件通知&nbsp;&nbsp;
            </td>
            <td class="right">
                <input type="text" id="toAcctMobile" name="phone" class="form-control trn_input_width " placeholder="请输入邮箱">
            </td>
        </tr>
        <tr>
            <td class="trn-firsttd">
                <label class="trn_mustData">&nbsp;&nbsp;</label>附言&nbsp;&nbsp;</td>
            <td class="right">
                <input id="text" name="phoneText" maxlength="11" class="form-control trn_input_width " placeholder="请输入附言">

            </td>
        </tr>
        </tbody>
    </table>

    <div class="row" style="margin-left: 45%; margin-top: 20px;" id="trnButton">
        <input th:id="transferNext" class="btn btn-primary" value="确认转账" type="submit">

    </div>

    <!-- <div class="row" style="text-align: center; margin-top: 20px; display: none;" id="skipShow">
        <input id="transferNextSkip" class="btn btn-primary" value="下一步" type="button">
        <input id="goBack" class="btn btn-secondary" value="返回" type="button">
    </div> -->

    <div class="oder_i_bu" style="display: none;">
        <div style="margin-left: 20px; margin-top: 20px; height: 45px; line-height: 23px;">
            <span>实时转账：</span>
            <span class="right">交易受理立即转出（需人工处理的除外）</span>
        </div>
        <div style="margin-left: 20px; margin-top: 15px;">
            <span>普通转账：</span>
            <span class="right">交易受理2小时后转出</span>
        </div>
        <div style="margin-left: 20px; margin-top: 15px;">
            <span>次日转账：</span>
            <span class="right">交易受理24小时后转出</span>
        </div>
    </div>

    <div class="oder_i_net" style="display: none;">
        <div style="margin: 20px 20px 0px; height: 45px; line-height: 23px;">
            <span>如您无法确认收款账户开户网点，可以选择同一城市（或县域）内附近网点</span>
        </div>
    </div>

    </div>
    <div class="row" style="padding-left: 0px ! important;">
        <div class="page-help">
            <div class="title">温馨提示</div>
            <div class="content">
                <ul>
                    <li>5万（节假日50万）及以下的跨行实时转账7*24小时处理；5万以上的跨行转账工作日（7:00-17:05）实时处理。</li>
                    <li>大于5万的普通跨行转账工作日7:00-15:05受理、次日跨行转账工作日的7:00-17:05受理，实际转出如遇非工作时间则顺延至下个工作日。</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</form>

<!--<script src="json2.js"></script>-->
<!--<script src="jAlert.js"></script>-->
<!--<script src="jError.js" th:src="@{}"></script>-->

<!--&lt;!&ndash;<script src="cardBalance.js"></script>&ndash;&gt;-->
<!--<script type="text/javascript" src="public.js">-->
<!--</script>-->
<!--<script src="dataHelper.js">
</script>-->
<script type="text/javascript" src="transferPublic.js">
</script>

<!--<script type="text/javascript" src="transferInit.js">
</script>
<script type="text/javascript" src="transferSubmit.js">
</script>
<script type="text/javascript" src="JudgeAccInfo.js">
</script>-->

</body>
</body>

</html>
