/* Code tidied up by ScrapBook */
.m-transfer { position: relative; margin: 0px auto; width: 992px; }
.m-fkbox { margin-top: 28px; width: 992px; height: 80px; }
.b-chyzz { width: 992px; height: 111px; }
.tableonetr th { text-align: center; background: rgb(243, 243, 243) none repeat scroll 0% 0%; height: 30px; }
.m-tabletwotr td { height: 40px; text-align: center; }
.m-groupingbox { display: none; position: absolute; left: 38.4%; top: 46%; width: 528px; border: 1px solid rgb(153, 153, 153); z-index: 999; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.m-grouping { width: 134px; height: 28px; float: left; text-align: center; line-height: 28px; border-width: 0px 1px 1px 0px; border-style: none solid solid none; border-color: -moz-use-text-color rgb(153, 153, 153) rgb(153, 153, 153) -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(243, 246, 249); }
.m-bigtabbox { position: relative; overflow: hidden; width: 100%; height: 244px; }
.m-groupgo { float: left; width: 134px; height: 244px; border-right: 1px solid rgb(153, 153, 153); }
.m-groupgo li { width: 134px; height: 28px; line-height: 28px; color: rgb(153, 153, 153); text-align: left; font-size: 14px; border-bottom: 1px solid rgb(153, 153, 153); padding-left: 20px; }
.m-groupgo .m-changetab { width: 135px; border-right: 0px none; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.m-tabcollect { position: relative; height: 244px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; overflow: auto; }
.m-tabcollectli { height: 244px; }
.m-information { height: 244px; }
.m-information li { font-size: 14px; padding-left: 20px; height: 39px; line-height: 39px; cursor: pointer; }
.m-information li:hover { background-color: rgb(227, 233, 239); }
.m-information li span { margin-right: 20px; display: block; float: left; }
.m-information li b { font-weight: normal; display: block; float: left; }
.m-information li i { margin-right: 20px; font-style: normal; display: block; float: left; }
.m-information li p { margin: 0px 21px 0px 10px; width: 28px; float: left; }
.m-character { height: 28px; text-align: center; line-height: 28px; border-bottom: 1px solid rgb(153, 153, 153); margin-bottom: -9px; background-color: rgb(243, 246, 249); }
.paymentaccount { overflow: hidden; display: inline; margin-left: 42px; padding-left: 13px; float: left; line-height: 38px; width: 325px; height: 38px; border: 1px solid rgb(153, 153, 153); }
.m-qcw { display: none; position: absolute; right: -120px; top: 0px; height: 40px; line-height: 40px; color: red; }
.m-hotbankbox { display: none; position: absolute; left: 39%; top: 64.2%; width: 584px; height: 288px; border: 1px solid rgb(153, 153, 153); background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 9999; margin-left: -6px; }
.m-hotbank { width: 593px; height: 27px; }
.m-hotbank li { float: left; width: 81.5px; height: 26px; text-align: center; line-height: 26px; border-bottom: 1px solid rgb(153, 153, 153); border-right: 1px solid rgb(153, 153, 153); cursor: pointer; }
.m-hotbank .m-hotbankgo { height: 27px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-bottom: 0px none; cursor: pointer; }
.m-bankarray { position: relative; width: 591px; height: 259px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.m-bankarray li { position: absolute; left: 0px; top: 0px; width: 100%; display: none; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.m-bankarray .m-hotbanktab { overflow: hidden; display: block; }
.m-bankarray li:first-child a { display: inline-block; width: 120px; height: 30px; background: transparent url("hotbanklogo.png") no-repeat scroll left 2px / 25% auto; text-decoration: none; text-indent: 35px; line-height: 30px; color: rgb(85, 85, 85); }
.m-bankimg1 a.m-two { background: transparent url("hotbanklogo.png") no-repeat scroll left -51px / 25% auto ! important; }
.m-bankimg1 a.m-three { background: transparent url("hotbanklogo.png") no-repeat scroll left -103px / 25% auto ! important; }
.m-bankimg1 a.m-four { background: transparent url("hotbanklogo.png") no-repeat scroll left -155px / 25% auto ! important; }
.m-bankimg2 a.m-one { background: transparent url("hotbanklogo.png") no-repeat scroll left -209px / 25% auto ! important; }
.m-bankimg2 a.m-two { background: transparent url("hotbanklogo.png") no-repeat scroll left -261px / 25% auto ! important; }
.m-bankimg2 a.m-three { background: transparent url("hotbanklogo.png") no-repeat scroll left -311px / 25% auto ! important; }
.m-bankimg2 a.m-four { background: transparent url("hotbanklogo.png") no-repeat scroll left -359px / 25% auto ! important; }
.m-bankimg3 a.m-one { background: transparent url("hotbanklogo.png") no-repeat scroll left -407px / 25% auto ! important; }
.m-bankimg3 a.m-two { background: transparent url("hotbanklogo.png") no-repeat scroll left -453px / 25% auto ! important; }
.m-bankimg3 a.m-three { background: transparent url("hotbanklogo.png") no-repeat scroll left -493px / 25% auto ! important; }
.m-bankimg3 a.m-four { background: transparent url("hotbanklogo.png") no-repeat scroll left -538px / 25% auto ! important; }
.m-bankimg4 a.m-one { background: transparent url("hotbanklogo.png") no-repeat scroll left -579px / 25% auto ! important; }
.m-bankimg4 a.m-two { background: transparent url("hotbanklogo.png") no-repeat scroll left -673px / 25% auto ! important; }
.m-hotbanktaball { margin-left: 9px; padding-left: 40px; width: 535px; height: auto; line-height: 40px; border-bottom: 1px solid rgb(204, 204, 204) ! important; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.m-hotbanktaball p { margin: 0px 0px 0px -30px; float: left; }
.m-hotbanktaball a { display: inline-block; margin-right: 16px; line-height: 0px; color: rgb(85, 85, 85) ! important; padding: 12px 8px 13px; text-decoration: none; border: 1px solid rgb(250, 250, 250); }
.m-hotbanktaball a:hover { border: 1px solid rgb(2, 242, 235); }
.m-bankimg1 { position: relative; margin-left: 2%; width: 98%; height: 61px; }
.m-imgimg1 a { display: block; }
.m-zggs { position: absolute; left: 0px; bottom: 0px; }
.m-zyh { position: absolute; left: 150px; bottom: 0px; }
.m-xy { position: absolute; left: 300px; bottom: 0px; }
.m-shpd { position: absolute; left: 435px; bottom: 0px; }
.m-bankimg2 { position: relative; margin-left: 13px; height: 57px; }
.m-bankimg2 a { display: block; }
.m-accountfill { display: none; position: absolute; left: 369px; top: 432px; width: 338px; height: 120px; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(153, 153, 153) rgb(153, 153, 153); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background: rgb(250, 250, 250) none repeat scroll 0% 0%; z-index: 2147483647; }
.m-accountfill li { width: 273px; height: 39px; padding-left: 4px; margin-left: 9px; line-height: 39px; border-bottom: 1px solid; }
.m-livecitiesbox { display: none; width: 730px; height: 200px; margin: 0px auto; overflow: hidden; border-bottom: 2px dashed rgb(204, 204, 204); }
.m-province { display: block; float: left; margin-left: 39px; padding-left: 13px; width: 145px; height: 38px; line-height: 38px; border: 1px solid rgb(153, 153, 153); }
.m-cities { padding-left: 13px; margin-left: 20px; display: block; float: left; width: 155px; height: 38px; border: 1px solid rgb(153, 153, 153); }
.m-rate { display: inline-block; color: rgb(32, 203, 182); margin-left: 15px; }
.m-btnbox { margin-top: 50px; margin-left: 26px; width: 380px; height: 40px; }
.m-btnbox a { display: block; width: 160px; height: 40px; line-height: 40px; text-align: center; color: rgb(255, 255, 255); }
.m-ratetablepagebox { display: none; position: absolute; left: 286px; top: 162px; width: 411px; height: 379px; border: 1px solid rgb(153, 153, 153); background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 999999; }
.m-ratetablepage { width: 411px; height: 205px; }
.m-ratetablepageleft { width: 205px; height: 205px; float: left; }
.m-ratetablepageleft li { text-align: center; line-height: 40px; width: 205px; height: 40px; margin-bottom: 1px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.m-ratetablepageright { width: 205px; height: 205px; float: right; }
.m-ratetablepageright li { text-align: center; line-height: 40px; width: 205px; height: 40px; margin-bottom: 1px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.m-ratetablepage .m-ratenol { background: rgb(243, 243, 243) none repeat scroll 0% 0%; }
.m-8fold { width: 318px; height: 30px; font-size: 12px; margin: 25px auto 22px; }
.m-ratetablepagebtn { display: block; text-align: center; line-height: 40px; color: rgb(255, 255, 255); width: 160px; height: 40px; margin: 0px auto; background: transparent url("bg_001.png") repeat scroll -202px -211px; text-decoration: none; }
.m-successbox { position: relative; margin: 0px auto; overflow: hidden; width: 562px; }
.m-succlogo { margin: 50px auto 20px; width: 100px; height: 100px; background: transparent url("success.png") no-repeat scroll 5px 20px; }
.m-errorlogo { margin: 50px auto 20px; width: 100px; height: 100px; background: transparent url("error.png") no-repeat scroll 5px 20px; }
.m-serialnumberbox { margin-bottom: 20px; width: 562px; height: 14px; line-height: 14px; color: rgb(153, 153, 153); }
.m-serialnumberleft { float: left; }
.m-serialnumberright { float: right; }
.m-bigsucc { font-size: 18px; width: 100%; height: 18px; line-height: 18px; text-align: center; margin-top: 40px; }
.m-succtime { height: 12px; font-size: 12px; line-height: 12px; margin-top: 20px; color: rgb(153, 153, 153); }
.m-common { margin-top: 40px; margin-bottom: 30px; width: 80%; height: 20px; }
.m-common input { width: 16px; height: 16px; margin-right: 3px; margin-top: 2px; float: left; }
.m-common div { line-height: 20px; float: left; }
.m-succbtn { display: block; text-align: center; line-height: 40px; color: rgb(255, 255, 255); width: 160px; height: 40px; margin-left: 79px; float: left; background: transparent url("bg_001.png") repeat scroll -202px -211px; }
.m-btnboxx { width: 562px; height: 40px; margin-top: 60px; }
.m-succbbtn { display: block; text-align: center; line-height: 40px; color: rgb(255, 255, 255); width: 160px; height: 40px; margin-left: 60px; float: left; background: transparent url("bg_001.png") repeat scroll -202px -211px; }
.m-x { position: absolute; right: 9px; top: 5px; width: 15px; height: 15px; background: transparent url("bg_001.png") repeat scroll -216px -101px; }
.m-dybtn { display: block; color: rgb(255, 255, 255); text-align: center; line-height: 40px; margin: 50px auto 0px; width: 160px; height: 40px; background: transparent url("bg_001.png") repeat scroll -202px -211px; text-decoration: none; }
.m-common .m-commoninput { display: none; width: 200px; height: 30px; float: right; line-height: 25px; }
.m-fyul { display: none; position: absolute; left: 95px; top: 40px; width: 338px; border: 1px solid rgb(153, 153, 153); background: rgb(250, 250, 250) none repeat scroll 0% 0%; z-index: 999999999; }
.m-fyul li { width: 338px; height: 38px; line-height: 38px; text-align: center; }
* {  }
@media ï¿½screen {
  .m-bankarray li:first-child a { display: inline-block; width: 120px; height: 30px; background-color: transparent; background-image: url("nongye.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: 2px 3px; background-clip: border-box; background-origin: padding-box; background-size: cover ! important; text-decoration: none; text-indent: 35px; line-height: 30px; color: rgb(85, 85, 85); }
  .m-bankimg1 a.m-two { background: transparent url("gongshang.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg1 a.m-three { background: transparent url("zhongguo.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg1 a.m-four { background: transparent url("jianshe.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg2 a.m-one { background: transparent url("jiaotong.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg2 a.m-two { background: transparent url("zhaoshang.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg2 a.m-three { background: transparent url("minsheng.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg2 a.m-four { background: transparent url("zhongxin.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg3 a.m-one { background: transparent url("pufa.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg3 a.m-two { background: transparent url("xingye.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg3 a.m-three { background: transparent url("pingan.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg3 a.m-four { background: transparent url("guangfa.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg4 a.m-one { background: transparent url("guangda.png") no-repeat scroll 1px center / cover  ! important; }
  .m-bankimg4 a.m-two { background: transparent url("youzheng.png") no-repeat scroll left 0px / cover  ! important; }
}
.m-div_label label.error { margin: 0px 0px 0px 45px; }
#m-sheng label { display: none ! important; }
#ms-cityKey label { position: absolute; right: -176px; margin: 0px ! important; }
